doctype 5

block content
  -var temp=0
        //iterates over all gameObjects. There should only be one possibility
      each user, i in userlist
        if user.gameID == gID
          -temp=1

          //only for debbugging
          //input#inputGameName(type="text", placeholder=user.userID, name="joa")

          h1='Wainting for an opponent . . .'
          div
              tr
                  td
                    label(for='username1')=user.username1
                  td
                    -var vsText = '     vs     ';
                    label(for='text')=vsText
                  td
                    label(for='username2')=user.username2
          p
          form#formAddGame(name="addGame",method="post",action="/addGame")
            div
                if user.gameName === ""
                    input(type="text", placeholder="Type in the name for your game (optional):", name="gameName" size="50")
                else
                    input(type="text", value=user.gameName , name="gameName" size="50")
            p
                input(type='radio', name='setting', value='Free', checked= (user.settings=='Free'))
                |Free
                input(type='radio', name='setting', value='Demonstration', checked= (user.settings=='Demonstration'))
                |Demonstration
                input(type='radio', name='setting', value='Teaching', checked= (user.settings=='Teaching'))
                |Teaching
                input(type='radio', name='setting', value='Simul', checked= (user.settings=='Simul'))
                |Simul
                input(type='radio', name='setting', value='Rengo', checked= (user.settings=='Rengo'))
                |Rengo
            p
                |Rule Set:
                input(type='radio', name='ruleSet', value='Japanese', checked= (user.ruleSet=='Japanese'))
                |Japanese
                input(type='radio', name='ruleSet', value='Chinese', checked= (user.ruleSet=='Chinese'))
                |Chinese
                input(type='radio', name='ruleSet', value='AGA', checked= (user.ruleSet=='AGA'))
                |AGA
                input(type='radio', name='ruleSet', value='New Zealand', checked= (user.ruleSet=='New Zealand'))
                |New Zealand
            p
                |Board Size:
                input(type='radio', name='boardSize', value='9x9', checked= (user.boardSize=='9x9'))
                |9x9
                input(type='radio', name='boardSize', value='13x13', checked= (user.boardSize=='13x13'))
                |13x13
                input(type='radio', name='boardSize', value='19x19', checked= (user.boardSize=='19x19'))
                |19x19
            p
                |Who should start:
                input(type='radio', name='startColor', value='black', checked= (user.startColor=='black'))
                |black
                input(type='radio', name='startColor', value='white', checked= (user.startColor=='white'))
                |white
            p
                button#btnSubmit(type="submit") Edit game
                button#btnReset(type="reset") Cancel game


          script(type='text/javascript').
            //alle 100 sec wird neu geladen
            window.setTimeout("location.reload()", 100000);


      if temp !=1
          h1= 'Please select your game settings:'

          form#formAddGame(name="addGame",method="post",action="/addGame")
              div
                input(type="text", placeholder="Type in the name for your game (optional):", name="gameName" size="50")
              p
                  input(type='radio', name='setting', value='Free', checked)
                  | Free
                  input(type='radio', name='setting', value='Demonstration')
                  | Demonstration
                  input(type='radio', name='setting', value='Teaching')
                  | Teaching
                  input(type='radio', name='setting', value='Simul')
                  | Simul
                  input(type='radio', name='setting', value='Rengo')
                  | Rengo
              p
                  | Rule Set:
                  input(type='radio', name='ruleSet', value='Japanese', checked)
                  | Japanese
                  input(type='radio', name='ruleSet', value='Chinese')
                  | Chinese
                  input(type='radio', name='ruleSet', value='AGA')
                  | AGA
                  input(type='radio', name='ruleSet', value='New Zealand')
                  | New Zealand
              p
                  | Board Size:
                  input(type='radio', name='boardSize', value='9x9', checked)
                  | 9x9
                  input(type='radio', name='boardSize', value='13x13')
                  | 13x13
                  input(type='radio', name='boardSize', value='19x19')
                  | 19x19
              p
                  | Who should start:
                  input(type='radio', name='startColor', value='black', checked)
                  | black
                  input(type='radio', name='startColor', value='white')
                  | white
              p
                  button#btnSubmit(type="submit") searching
                  button#btnReset(type="reset") cancel


