doctype 5
block content
        table(border=1)
            thead
                tr
                    th Name
                    th Settings
                    th RuleSet
                    th BoardSize
                    th StartColor
                    th Player
                    th Opponent
                    th gameID
            tbody
                each user, i in userlist
                    tr
                        td
                            label(for='gameName')=user.gameName
                        td
                            label(for='settings')=user.settings
                        td
                            label(for='ruleSet')=user.ruleSet
                        td
                            label(for='boardSize')=user.boardSize
                        td
                            label(for='startColor')=user.startColor
                        td
                            label(for='user1')=user.username1
                        td
                            label(for='id')=user.username2
                        td
                            label(for='gameID')=user.gameID
